<template>
  <div class="l-content">
    <router-link to="/landingpage" class="router-link-to-landing">
      <button class="alt">
        🢀 Boilerplate Landing Page
      </button>
    </router-link>
    <div class="wrapper">
      <div class="header">
        <div class="header__title">
          GVLTONIGHT
        </div>
      </div>
      <div class="group" v-for="(value, key) in eventsByDay" v-bind:key="value.id">
        <div class="group__heading">
          {{key}} {{value[0].date}}
        </div>
        <ul class="group__list">
          <li class="group__list-item" v-for="item in value" v-bind:key="item.id">
            <div class="divider divider__alt"></div>            
            <div><a @click="open(item.venue.url)">{{item.venue.name}}</a></div>
            <div><a @click="open(item.url)">{{item.title}}</a></div>
            <div class="divider divider__alt"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import axios from 'axios';
import fs from 'fs';
export default {
  components: {
  },
  name: 'app-content',
  methods: {
    open(link) {
      this.$electron.shell.openExternal(link);
    },
  },
  data: () => ({
    eventsByDay: {},
    eventsByVenue: {},
  }),
  created() {
    const blah = fs.readFileSync('./.eslintrc.js');
    console.log(blah);
    axios.get('https://api.gvltonight.com/v1/gvl/thisweek/sorted')
      .then((res) => {
        this.eventsByDay = res.data.day;
        this.eventsByVenue = res.data.venue;
      })
      .then(() => {
        const ordered = {};
        Object.keys(this.eventsByDay).sort((a, b) => moment(a, 'dddd').weekday() > moment(b, 'dddd').weekday()).forEach((key) => {
          ordered[key] = this.eventsByDay[key];
        });
        this.eventsByDay = ordered;
        return this.eventsByDay;
      });
  },
};
</script>

<style lang="scss">
.l-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 1;
}

a {
  color: #000;
  &:hover {
    color: #fff;
    background-color: #000;
    cursor: pointer;
  }
}

.wrapper {
  padding: 0 2rem;
  .header {
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    .header__title {
      padding: 30px 10px 10px;
    }
  }
}

.divider {
  margin: 1.3rem auto 1rem;
  width: 10px;
  border-top: 1px dashed #bbb;
  border-right: 200px solid #fff;
  border-left: 200px solid #fff;
}

.group {
  margin: 2rem auto;
  text-align: center;
  max-width: 800px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  .group__heading {
    font-weight: 800;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    padding: 1rem;
  }
  .group__list {
    padding: 0;
    padding-bottom: .3rem;
    .group__list-item {
      box-shadow: inset 0px 0px 29px 0px rgba(0,0,0,0.1);
      list-style-type: none;
      margin: 10px 0;
    }
  }
}

.router-link-to-landing button {
  position: absolute;
  top: 0;
  left: 0;
  a {
    color: #42b983;
  }
  &:hover {
    background-color: #42b983;
    color: white;
  }
}


button {
  font-size: .8em;
  cursor: pointer;
  outline: none;
  padding: 0.75em 2em;
  border-radius: 2em;
  display: inline-block;
  color: #fff;
  background-color: #4fc08d;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid #4fc08d;
}

button.alt {
  color: #42b983;
  background-color: transparent;
}
</style>