<template>
  <div id="app" class="application-wrapper">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'lnl-electron',
  };
</script>

<style>
body, input, textarea, keygen, select, button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.application-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.emoji {
  width: 1em;
  height: 1em;
  padding: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
a {
  color: #2196F3;
  text-decoration: none;
}
</style>
